@using BeneficiaryPortal.ModelsLanguage;
@inject LanguageService language

    <h1>@language.Getkey("TempPassword") </h1>


    <form method="post" asp-controller="BeneficiaryEntry" asp-action="SendEmail">

        <label> @language.Getkey("EnterYourEmail") </label>
        <input type="text" id="email" name="email" placeholder=@language.Getkey("Email") />


        <input type="submit"  data-name="btnSend" value="@language.Getkey("Send") @language.Getkey("TempPassword") @language.Getkey("To")@language.Getkey("Email")" > 

    </form>