@model BeneficiaryPortal.Models.BeneficiaryRegistration
@{
    ViewData["Title"] = "Sign up";
}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#buildingsList').change(function () {
            let buildingID = $('#buildingsList option:selected').val();
            $.ajax({
                type: 'GET',
                data: { buildingID = buildingID },
                url: '/BeneficiaryEntry/ListFloors',
                success: function (data) {
                    let items = '';
                    $.each(data, function (i, floor) {
                        items += '<option value="' + floor.value + '">' + floor.text + '</option>';
                    });
                    
                    $("#floorsList").html(items);
                }
            });
        });
    });
</script>

<h1>Sign Up</h1>
<p class="text-danger">@TempData["SignupError"]</p>
@using (Html.BeginForm("Register", "BeneficiaryEntry", FormMethod.Post))
{

    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-3">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-3">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <label>Building</label>
    <select id="buildingsList" asp-for="@Model.BuildingNumber">
        @foreach (var building in ViewBag.BuildingsList)
         {
            <option value="@building.Id">@building.Number</option>
         }
    </select>
    <br />
    <label>Floor</label>
    <select id="floorsList" asp-for="@Model.FloorNumber">
    </select>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-3">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-3">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign up" class="btn btn-primary" />
        </div>
    </div>
</div>

}