@using BeneficiaryPortal.ModelsLanguage;
@inject LanguageService language

@section Scripts2{ 

    <script src="~/js/Beneficiary/sendEmail.bundle.min.js"></script>
    <h1>@language.Getkey("TempPassword") </h1>

    <label> @language.Getkey("EnterYourEmail") </label>
    <input type="text" id="email" name="email" placeholder=@language.Getkey("Email") />


    <button type="button" id="btnSend" name="btnSend" data-name="btnSend" onclick="SendEmail()"> @language.Getkey("Send") @language.Getkey("TempPassword") @language.Getkey("To")@language.Getkey("Email")</button>
}