@model BeneficiaryPortal.Models.UserInfo

@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_dashBords.cshtml";
}

<div>
    <h2><b>حسابي</b></h2>
    <p>@Html.DisplayFor(model => model.Name)<b> :الاسم</b></p>
    <p>@Html.DisplayFor(model => model.Phone)<b> :رقم الهاتف</b></p>
    <p>@Html.DisplayFor(model => model.Email)<b> :البريد الإلكتروني</b></p>
    <p>@Html.DisplayFor(model => model.buildingNumber)<b> :المبنى</b></p>
    <p>@Html.DisplayFor(model => model.floorNumber)<b> :الطابق</b></p>
</div>