@model IEnumerable<BeneficiaryPortal.Models.Ticket>

@{
    ViewData["Title"] = "Tickets List";
    Layout = "~/Views/Shared/_dashBords.cshtml";
}

<h2>Tickets</h2>

<p>
    @Html.ActionLink("New Request", "NewTicket")
</p>

    @foreach (var item in Model)
    {
        <div>
            @Html.DisplayFor(modelItem => item.Date)
            @Html.DisplayFor(modelItem => item.status.StatusTypeAr)
            @Html.DisplayFor(modelItem => item.maintenanceType.MaintenanceTypeNameAr)
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </div>
    }

