@using BackOfficePortal.ModelsLanguage;
@inject LanguageService language
@model UserInfoBeneficiary
@{
    Layout = "~/Views/Shared/_dashBords.cshtml";
}
<h1> @language.Getkey("UpdateUser")</h1>
    <script src="~/js/Beneficiary/updateUser.bundle.min.js"></script>
    <form method="post" asp-controller="Beneficiary" asp-action="PostUser" class="container bg-white shadow-sm rounded-4">
        <input class="d-none" name="id" value="@Model.Id" />
        <div class="row p-4">
            <div class="col-12 mb-3 col-md-6">
                <label> @language.Getkey("Name"):</label>
                <input type="text" class="input-field bg-white rounded-pill p-Input" id="updateName" name="updateName" placeholder=@language.Getkey("Name") />
            </div>
            <div class="col-12 mb-3 col-md-6">
                <label> @language.Getkey("Phone"):</label>
                <input type="text" class="input-field bg-white rounded-pill p-Input" id="updatePhone" name="updatePhone" placeholder=@language.Getkey("Phone") />
            </div>
            <div class="col-12 mb-3 ">
                <label> @language.Getkey("Email"):</label>
                <input type="email" class="input-field bg-white rounded-pill p-Input" id="updateEmail" name="updateEmail" placeholder=@language.Getkey("Email") />
            </div>
            <div class="col-12 mb-3 col-md-6">
                <select class="input-field bg-white rounded-pill p-Input " id="buildingsList" name="BuildingNumber" onchange="GetFloor('@Url.Action("ListFloors", "BeneficiaryEntry")')">
                    <option disabled selected>@language.Getkey("Building")</option>
                    @foreach (var building in ViewBag.BuildingsList)
                    {
                        <option value="@building.Id">@building.Number</option>
                    }
                </select>
            </div>
            <div class="col-12 mb-3 col-md-6">
                <select class="input-field bg-white rounded-pill p-Input " type="text" id="floorsList" name="FloorNumber">
                    <option disabled selected>@language.Getkey("Floor")</option>
                </select>
            </div>
            <div class="col-12 mb-3 col-md-6">
                <label> @language.Getkey("Password"):</label>
                <input type="password" class="input-field bg-white rounded-pill p-Input" id="updatePassword" name="updatePassword" placeholder=@language.Getkey("Password") />
            </div>
            <div class="col-12 mb-3 col-md-6">
                <label> @language.Getkey("ReEnter")@language.Getkey("Password"):</label>
                <input type="password" class="input-field bg-white rounded-pill p-Input" id="RewritePassword" name="RewritePassword" placeholder=@language.Getkey("Password") />
            </div>
        </div>
        <div class="row">
            <p class="text-danger">@ViewBag.error</p>
        </div>
        <input type="submit" class="btn btn-success" id="btnUpdate" name="btnUpdate" data-name="UpdateButton" value="@language.Getkey("Submit") ">
    </form>
