@model List<BuildingsTable>

@{
    Layout = "~/Views/Shared/_dashbords.cshtml";
}

<div class="container-lg rounded shadow bg-white p-0 mb-5">
    <div class="bg-dark text-center text-light m-0 rounded-top">
        <h1 class="p-3 m-0">المباني</h1>
    </div>
    <div class="">
        <table id="myTable" class="table table-striped" >
            <thead class="">
                <tr class="table-dark">
                    <th>رقم المبنى</th>
                    <th>الطوابق</th>
                    <th>البلد</th>
                    <th>المدينة</th>
                    <th>الشارع</th>
                    <th>مدير المبنى</th>
                    <th>بريد مدير المبنى</th>
                    <th>ملكية المبنى</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var x in Model) {
                <tr>
                    <td>@x.BuildingNumber</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                الطوابق
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                @foreach(var u in x.FloorTables) {
                                <li><a class="dropdown-item" href="#"> @u.FloorNumber </a></li>
                                }
                            </ul>
                        </div>
                    </td>
                    <td>@x.Country</td>
                    <td>@x.City</td>
                    <td>@x.Street</td>
                    <td>@x.BuildingManagerName</td>
                    <td>@x.BuildingManagerEmail</td>
                    <td>@x.IsOwned</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
