<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackOfficePortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @using BackOfficePortal.ModelsLanguage;
    @inject LanguageService language

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BackOfficePortal</a>
                <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> @language.Getkey("Home") </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@language.Getkey("Privacy")</a>
                        </li>

                        
                            
                                
                                    <li>
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <div class="triangle"></div>
                                        <ul class="language">

                                            <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"> English</a></li>

                                            <li><a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ar-SA" class="nav-link"> Arabic</a></li>


                                        </ul>

                                    </li>

                                

                           

                       


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BackOfficePortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @section Scripts2 {
        <script src="~/js/BuildingManager/bundle.min.js"></script>
        <script src="~/js/BuildingManager/edit-building.bundle.min.js"></script>
        <script src="~/js/BuildingManager/view-tickets.bundle.min.js"></script>
        <script src="~/js/BuildingManager/view-building.bundle.min.js"></script>
        <script src="~/js/BuildingManager/view-status.bundle.min.js"></script>
        <script src="~/js/MaintenanceManager/bundle.min.js"></script>
        <script src="~/js/MaintenanceWorker/bundle.min.js"></script>
        <script src="~/js/SaveFile.bundle.min.js"></script>
        <script src="~/js/updateUser.bundle.min.js"></script>
    }
    @RenderSection("Scripts2", required: false)

</body>
</html>
