@using BackOfficePortal.ModelsLanguage;
@inject LanguageService language

<h1> @language.Getkey("View")  @language.Getkey("Tickets") @language.Getkey("UnderReview")</h1>
@section Scripts2{
    <script src="~/js/MaintenanceManager/bundle.min.js"></script>
    <body>


        <button type="button" id="btnView" name="btnView" data-name="ViewButton" onclick="ViewUnderReviewTickets()"> @language.Getkey("View")  @language.Getkey("Tickets") @language.Getkey("UnderReview")</button>

        <label id="Tickets">  @language.Getkey("Tickets") </label>
        <div id="TicketsList"> </div>

    </body>

}
