@using BackOfficePortal.ModelsLanguage;
@inject LanguageService language

@section Scripts2{

    <script src="~/js/password.bundle.min.js"></script>
    <h1>@language.Getkey("TempPassword") </h1>

    <label> @language.Getkey("TempPassword") </label>
    <input type="text" id="TempPassword" name="TempPassword" placeholder=@language.Getkey("TempPassword") />

    <label> @language.Getkey("Password") </label>
    <input type="text" id="Password" name="Password" placeholder=@language.Getkey("Password") />
    
    <label> @language.Getkey("ReEnter") @language.Getkey("Password") </label>
    <input type="text" id="ReEnteredPassword" name="ReEnteredPassword" placeholder=@language.Getkey("Password") />

    <button type="button" id="btnSubmit" name="btnSubmit" data-name="btnSubmit" onclick="ResetPassword()"> @language.Getkey("Submit") </button>
}