@using BackOfficePortal.ModelsLanguage;
@inject LanguageService language

<h1> @language.Getkey("Comments")</h1>

@section Scripts2{
    <h1 class="display-4">@language.Getkey("Welcome")</h1>

    <script src="~/js/BuildingManager/bundle.min.js"></script>
    <body>
        <label>
            @language.Getkey("EnterId")</label>
                <input type="number" id="updateId" name="updateId" placeholder= @language.Getkey("Id") />


                <label>@language.Getkey("AddComment")</label>
                <input type="text" id="comments" name="comments" placeholder=@language.Getkey("Comments") />



                <button type="button" id="btnUpdate" name="btnUpdate" data-name="UpdateButton" onclick="AddComments()">@language.Getkey("Submit")</button>
</body>



}