@using BackOfficePortal.ModelsLanguage;
@inject LanguageService language
@model List<TicketsDto>

@{
    ViewData["Title"] = "Tickets";
    Layout = "~/Views/Shared/_dashbords.cshtml";
}

<h1></h1>



<!--content-->
<div class="container">
    <div class="mt-5 mb-2 row border-bottom ">
        <div class="col-8 ">
            <h1 class="title"> @language.Getkey("View") @language.Getkey("Tickets")</h1>
        </div>
    </div>
</div>

<div class="container-fluid bg-trasparent my-3 p-3 position-relative">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 row-cols-xl-5 g-3">

        @foreach (var Ticket in Model)
        {

            <!--ticket start-->
            <div class="col">
                <div class="card h-100 shadow-sm p-2 border-0 rounded-4">

                    <img src="" class="card-img-top rounded-4" alt="">
                    <div class="card-body">

                        <div class="row p-2 ">
                            <div class="col-12 p-1">
                                <img src="~/images/calendar.png" alt="" class="ticket-img">
                                <span class="p-1">@Ticket.Date.Year / @Ticket.Date.Month / @Ticket.Date.Day</span>
                            </div>
                            <div class="col-6 p-1">
                                <img src="~/images/repair.png" alt="" class="ticket-img">
                                <span class="p-1">@Ticket.MaintenanceTypeNameAr</span>
                            </div>
                            <div class="col-6 p-1">
                                <img src="~/images/charging-circle.png" alt="" class="ticket-img">
                                <span class="p-1">@Ticket.StatusTypeAr</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger rounded-pill mt-2" onclick="location.href='@Url.Action("AddComments", "BuildingManager", new { TicketId = Ticket.Id })'"> @language.Getkey("AddComment") </button>
                        <button class="btn btn-outline-success rounded-pill mt-2" onclick="location.href='@Url.Action()'">تفاصيل اضافية</button>
                    </div>
                </div>
            </div>
            <!--Tickets end-->
        }

    </div>
</div>
